* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #12100e;
  --light: #e6fafc;
  --blue: #4059ad;
  --orange: #dc965a;
  --red: #c81d25;
}

body {
  font-family: "GothamPro";
}
.resultCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border: solid 1px black;
  padding: 1.25rem;
}

.resultCard figure {
    flex: 1 1 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.resultCard a {
  font-weight: bold;
  font-size: 30px;
}

.resultCard p {
  padding: 2% 0;
  font-size: 20px;
}

.resultCard section {
  height: 100%;
  flex: 1 1 75%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resultCard section button{
max-width: 250px;
height: 50px;
font-size: 20px;
}

@media only screen and (max-width: 769px) {
.resultCard{
  display:block
}

.resultCard figure{
  width:100%;
}
.resultCard img{
  width: 100%;
}
}
