* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #12100e;
  --light: #e6fafc;
  --blue: #4059ad;
  --orange: #dc965a;
  --red: #c81d25;
}

/* This is just for visibility, can be deleted later */
#expandedInfoCard {
  background-color: aliceblue;
  border: solid black 1px;
  min-height: 100px;
  min-width: 100px;
}
/* This is just for visibility, can be deleted later */

/* This is just for visibility, can be deleted later */
body {
  min-height: 100vh;
  position:relative;
}
