
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #12100e;
  --light: #e6fafc;
  --blue: #4059ad;
  --orange: #dc965a;
  --red: #c81d25;
}

/* This is just for visibility, can be deleted later */
#expandedInfoCard {
  background-color: aliceblue;
  min-height: 100px;
  min-width: 100px;
  margin:20px;
}
/* This is just for visibility, can be deleted later */

h2 {
  font-size: 40px;
}


body {
  font-family: "GothamPro";
}

.resultCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin:auto;
  padding: 1.25rem;
  border: solid black 2px;
}

#expandedInfoCard section figure {
  flex: 1 1 48%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;   
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
}

#expandedInfoCard section section p {
  padding: 1% 0;
  font-size: 20px;
}

#expandedInfoCard section section {
  height: 100%;
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

#expandedInfoCard section section button {
  width: 250px;
  height: auto;
  font-size: 20px;
}

@media (max-width: 769px) {
  #expandedInfoCard section{
    flex-direction: column-reverse;
    border: solid 1px black;
  }

  #expandedInfoCard section section {
    border: none;
  }
  #expandedInfoCard section figure {
    margin-bottom: 1%;
  }
}