 * { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark: #12100e;
  --light: #e6fafc;
  --blue: #4059ad;
  --orange: #dc965a;
  --red: #c81d25;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 38px;
}

.rmvFavBtn {
  background-color: #4059ad;
  padding: 5px;
  width: 30%;
}

body {
  font-family: "GothamPro";
}

.upcomingCard, .alreadyReleasedCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border: solid 1px black;
  padding: 1.25rem;
}

.upcomingCard figure, .alreadyReleasedCard figure {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.upcomingCard a, .alreadyReleasedCard a {
  font-weight: bold;
  font-size: 30px;
}

.upcomingCard p, .alreadyReleasedCard p {
  padding: 1% 0;
  font-size: 20px;
}

.upcomingCard section, .alreadyReleasedCard section {
  height: 100%;
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.upcomingCard section button, .alreadyReleasedCard section button {
  width:250px;
  height: 50px;
  font-size: 20px;
}

@media only screen and (max-width: 769px) {
  .upcomingCard, .alreadyReleasedCard {
    display: block;
  }

  .upcomingCard figure, .alreadyReleasedCard figure {
    width: 100%;
  }

  .upcomingCard a img, .alreadyReleasedCard a img {
    width: 100%;
  }

  .rmvFavBtn {
    margin:2% 0
  }

}
