* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --dark: #12100e;
    --light: #e6fafc;
    --blue: #4059ad;
    --orange: #dc965a;
    --red: #c81d25;
}

body {
    font-family: 'GothamPro';
    width: 100%;
}

h1 {
    font-size: 82px;
   position: relative; 
}

.hero {
    width: 100%;
  }

  h1, #form {
    max-width: 1000px;
    margin: auto;
  }
  
  .resultCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: solid 1px black;
    padding: 1.25rem;
  }

.resultCard figure {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.resultCard figure a img {
  width:100%;
  min-width:150px;
  height: 100%;
}
.resultCard a {
  font-weight: bold;
  font-size: 30px;
}

.resultCard p {
  padding:2% 0;
  font-size: 20px;
}

.resultCard section {
  height: 100%;
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resultCard section button {
  width: 250px;
  height: auto;
  margin-top:2%;
  font-size: 20px;
}

.columns {
  margin: 0;
}

@media (max-width: 769px) {
  .resultCard {
    display: block;
  }

  .resultCard figure {
    width: 100%;
    align-content: center;
    ;
  }

  .resultCard a img {
    width: 100%;
  }

  .resultCard section button {
    margin: 2% 0;
    width:auto;
  }

  .resultCard p {
    padding:0;
    font-size: 20px;
  }

    
}